%div.container
  %div.row
    %div.col-10.container-fluid
      %br
      = jobs.count
      = column_chart jobs.group_by_week(:created_at).count
      = column_chart jobs.group_by_month(:created_at).count
      = line_chart jobs.group_by_week(:created_at).count
      = line_chart jobs.group_by_month(:created_at).count
  %div.row
  %div.row
    %div.col
    %div.col-8
      %br
      %ul.list-group.list-group-flush
        %li.list-group-item.d-flex.justify-content-between.align-items-center.active
          %strong Top 50 skills posted in January
        - top_skills.each do |skill|
          %li.list-group-item.d-flex.justify-content-between.align-items-center
            = skill.capitalize
    %div.col

