%div.container
  %div.row
    %div.col
      %br
      %h3 Log in

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %div.field
          = f.label :email
          %br
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

        %div.field
          = f.label :password
          %br
          = f.password_field :password, autocomplete: "current-password", class: 'form-control'

        - if devise_mapping.rememberable?
          %div.field
            = f.check_box :remember_me
            = f.label :remember_me

        %div.actions
          = f.submit "Log in", class: 'btn btn-primary'
      %br
      = render "devise/shared/links"
    %div.col-sm
      %br
      %img.img-fluid.max-width(src="https://i.imgur.com/6i986xr.png")
    -# %div.col