%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'Joberino', root_path, class: 'navbar-brand'
  - if current_user.id == 1
    %div.navbar-nav
      = link_to 'Upload json', upload_path, class: 'navbar-item nav-link'
  %div.navbar-nav.ml-auto
    - if user_signed_in?
      = link_to 'Sign out', destroy_user_session_path, class: 'navbar-item nav-link', method: :delete
    - else
      = link_to 'Sign in', new_user_session_path, class: 'navbar-item nav-link'
      = link_to 'Sign up', new_user_registration_path, class: 'navbar-item nav-link'