%div.card
  %div.card-body
    %h5.card-title
      %a{ href: "#{job.job_url}", title: "#{job.job_title}", target: '_blank', rel:"noopener" }
        %strong
          = job.job_title
    %h6.card-subtitle.mb-2.text-muted{style: "margin-top: -12px;"}
      = job.location
    %h6.card-subtitle.mb-2.text-muted
      %a{ href: "#{job.company_url}", title: "#{job.employer}", target: '_blank', rel:"noopener" }
        %strong
          = job.employer
    %p.card-text
      - if job.description?
        = job.description
      - else
        Description not available
    = link_to 'Not Interested', user_job_listings_path(id: job.id, interest: :ignore), class: 'btn btn-secondary', method: :post
    = link_to 'Applied', user_job_listings_path(id: job.id, interest: :applied), class: 'btn btn-info', method: :post
  %div.card-footer
    %small
      = "Added: #{job.created_at.in_time_zone('EST').strftime("%B %d, %Y at %I:%M %p")}"
