%div.container
  %div.row
    %div.col
    %div.col-8
      %br
      - if current_user && current_user.id == 1
        %div
          = form_tag({action: :new_jobs}, multipart: true) do
            = file_field_tag 'json'
            = submit_tag 'Submit'

        - if job_count && all_users
          %br
          = "Jobs listed: #{job_count} - all time"
          %br
          = "Jobs listed: #{week_count} - this week"
          %br
          = "Job Actions: #{job_actions}"
          %br
          = "Users: #{all_users.count}"
          %br
          %br
          %ul.list-group.list-group-flush
            %li.list-group-item.d-flex.justify-content-between.align-items-center.active
              %strong Users
            - all_users.each do |user|
              %li.list-group-item.d-flex.justify-content-between.align-items-center
                = "#{user.id} - #{user.email} - #{user.last_sign_in_at ? user.last_sign_in_at.in_time_zone('EST').strftime("%l:%M%P - %B %d, %Y") : ''}" #.in_time_zone('EST').strftime("%l:%M%P - %B %d, %Y")}
    %div.col