!!!
%html
  %head
    %title Joberino
    %meta{:name => 'viewport', :content => 'width=device-width,initial-scale=1'}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render partial: 'job_listings/header'
    - unless notice.nil?
      %div.alert.alert-success.alert-dismissible.notice
        = notice
    - unless alert.nil?
      %div.alert.alert-warning.alert-dismissible.notice
        = alert
    = yield
